<h2><strong>Name:</strong> <%= @name.upcase %></h2>
<h3>Details</h3>
<ul>
  <strong>Email</strong>: <%= @hobby[:email] %>
  <p>
    <strong>Interests:</strong>
    <ul>
      <% @hobby[:interests].each do |interest| %>
        <li><%= interest %></li>
      <% end %>
    </ul>
  </p>
</ul>

<strong>Other Users:</strong>
<% @users.keys.map do |person| %>
  <a href="/users/<%= person %>"><%= person %></a>
<% end %>
<p><a href="/">Back_home</a></p>
