<h2><strong>Name:</strong> <%= @name.upcase %></h2>
<h3>Details</h3>
<ul>
  <strong>Email</strong>: <%= @hobby[:email] %>
  <p>
    <strong>Interests:</strong>
    <%= @hobby[:interests].join(', ') %>
  </p>

</ul>

<ul>
  <p>
    <strong>Other Users:</strong>
    <% @users.keys.map do |person| %>
      <% if person != @name.to_sym %>
        <a href="/users/<%= person %>"><%= person %></a>
      <% end %>
    <% end %>
  </p>
  <p>
    <a href="/">Back_home</a>
  </p>
</ul>
